// Navigation Styles here
.top-bar{

    display: flex;
    justify-content: space-evenly;
    border-bottom: @border-var;
    nav{
        display: flex;
        padding: 0 0 0 20%;
   @media @mobile{
        .mobile-mix(column, center);
    } 
        a{
            font-family: 'Roboto', sans-serif;
            padding: 0 0 0 12%;
            text-decoration: none;
            font-size: 2rem;
            color: @shark;
        }
    }
}